<fa-app style="width: 100%; height: 100%;">
  <fa-modifier fa-size="[undefined,200]">


    <fa-surface fa-background-color="'blue'">
    </fa-surface>

    <fa-modifier fa-align="[0.5,0.5]" fa-origin="[0.5,0.5]" fa-size="[undefined, true]">

      <fa-surface fa-size="[undefined, undefined]" fa-background-color="'yellow'">
      </fa-surface>

      <fa-surface fa-color="'red'" fa-background-color="'aqua'" fa-size="[undefined, true]">
        <div style="text-align: center; font-family: sans-serif; font-size: 50px;">test test<br/>test test</div>
      </fa-surface>

    </fa-modifier>
  </fa-modifier>

</fa-app>
